#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ol {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside; /* Aligns the bullet or number inside */
  }
  .btn{
    background-color: mediumslateblue;
    color: white;
  }
  .picture{
    width: 50%;
  }